<%= content_for :body_id, "account" %>

<div id="sidebar">
  <div class="sidebar-toggler visible-xs">
    <i class="ion-navicon"></i>
  </div>

  <h3>My account</h3>
  <ul class="menu">
    <li>
      <a href="<%= user_path(1) %>" class="active">
        <i class="ion-ios7-person-outline"></i>
        Profile
      </a>
    </li>
    <li>
      <a href="<%= notifications_users_path %>" class="active">
        <i class="ion-ios7-email-outline"></i>
        Notifications
      </a>
    </li>
  </ul>
</div>

<div id="panel" class="notifications">
  <h3>
    Email Notification Settings
  </h3>
</div>

<script type="text/javascript">
  $(document).on("ready page:load", function () {
    $("[data-switch]").bootstrapSwitch({
      "size": "small"
    });
  });
</script>
