<%= form_for(@user) do |f| %>
  <div class="form-group avatar-field clearfix">
    <div class="col-sm-3">
      <%= image_tag @user.avatar.url, class: "img-responsive img-circle" %>
      <br/>
      <%= @user.name %>
    </div>
  </div>
<% end %>
