<div class="form-group form-actions">
  <%= button_tag(type: 'submit', class: "button", data: {"step": "2"}) do %>
    <span>Next Step <i class="fa fa-angle-double-right"></i></span>
  <% end %>
</div>
