<div class="filters">
<h3 class="hidden-xs">Filters</h3>
<form>
<%- unless Tariff.first.properties.blank? %>
  <%- Tariff.first.properties.each do |k,v| %>
  <div class="filter">
    <label>
      <input type="checkbox">
      <%= k %>
    </label>
    <div class="filter-option">
      <select>
        <!--<option>equals</option>-->
        <option>contains</option>
        <!--<option>starts with</option>-->
        <!--<option>ends with</option>-->
        <!--<option>does not contain</option>-->
      </select>
      <div class="field">
        <input id="<%= k %>" type="text" class="form-control" />
      </div>
    </div>
  </div>
  <% end -%>
<% end -%>
<div class="filter">
  <label>
    <input type="checkbox">
    Segment
  </label>
  <div class="filter-option">
    <select>
      <!--<option>equals</option>-->
      <option>contains</option>
      <!--<option>starts with</option>-->
      <!--<option>ends with</option>-->
      <!--<option>does not contain</option>-->
    </select>
    <div class="field">
      <input id="segment" type="text" class="form-control" />
    </div>
  </div>
</div>
</form>
</div>
