<div class="header">
  <div class="sidebar-toggler visible-xs">
    <i class="ion-navicon"></i>
  </div>

  <div class="steps clearfix">
    <div class="step active">
      Import source file
      <span></span>
    </div>
    <div class="step">
      Confirm source properties
      <span></span>
    </div>
    <div class="step">
      Map table headers
      <span></span>
    </div>
    <div class="step">
      Finish
      <span></span>
    </div>
  </div>
</div>
