<% provide(:title, "Dashboard") %>
<%= content_for :body_id, "dashboard" %>

<div class="menubar">
    <div class="sidebar-toggler visible-xs">
    <i class="ion-navicon"></i>
    </div>

  <div class="page-title">
    Dashboard
  </div>

  <%= current_user.email %>
</div>
