<% provide(:title, "Product Bundler") %>
<%= content_for :body_id, "wizard" %>
<%= render :partial => "shared/wizard_steps" %>

<script>
$(document).ready ( function () {
  $(".header .steps .step").removeClass("active").filter(":lt(4)").addClass("active");

  $('input[type=file]').change(function(e){

  });
});
</script>

<%= debug @names %>
<section class="form-wizard">
  <div class="step active animated fadeInRightStep" style="text-align:center; margin-top: 10% !important">
    <div class="success">
      <i class="ion-checkmark-circled"></i>
      <h3>
        Product template was created successfully!
      </h3>
      <a href="<%= product_templates_path %>" class="button">
        <span>Add products</span>
      </a>
    </div>
  </div>
</section>
