<% provide(:title, "Tariff Analysis") %>
<%= content_for :body_id, "form" %>

<div class="menubar">
  <div class="sidebar-toggler visible-xs">
    <i class="ion-navicon"></i>
  </div>

  <div class="page-title">
    Edit tariff table
  </div>
</div>

<div class="content-wrapper">
  <form id="new-customer" class="form-horizontal" method="get" action="#" role="form">

    <% Tariff.first.properties.each do |k,v| %>
      <% unless k == "Premio comercial" %>
        <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 col-md-2 control-label"><%= k %>:</label>
        <div class="col-sm-10 col-md-8">
          <input type="text" class="form-control" name="customer[first_name]" />
        </div>
        <!--<div class="col-sm-10 col-md-8">
            <input type="hidden" id="customer-tags" style="width:100%" value="client, developer, lead" name="customer[tags]" />
        </div>-->
      </div>
      <% end %>
    <% end %>

      <div class="form-group form-actions">
        <div class="col-sm-offset-2 col-sm-10">
          <a href="<%= new_customer_forms_path %>" class="btn btn-default">Cancel</a>
            <button type="submit" class="btn btn-success">Save tariff table</button>
        </div>
      </div>
  </form>
</div>
