<h1>Listing products</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
  </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.id %></td>
      <td><%= product.name %></td>
    </tr>
  <% end %>
</table>
